.mainpage{
    width: 100vw;
    height: 100%;
    background-image: url("https://ik.imagekit.io/Amazon2000/amazon-image/1348517_in_prime_2_pd_3000x1200_Eng._CB663273097_.jpg.png?updatedAt=1688380980459");
    background-size: 100vw;
    background-color: #ebebeb;
    background-repeat: no-repeat;
}